<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= category %></title>
</head>
<body>
  <!-- partials -->
  <%- include('./partials/nav') %>
  
  <% if (menu.length === 0) { %>
    <p>
      Sorry, we do not have a menu of
      <span style="color: red; font-style: italic"><%= category %></span>.
      Please click the links in the navigation to ensure you find a proper menu
      :)
    </p>
  <% } else { %>
    <!-- function for star rating -->
    <% function printStars(rating) { %>
        <%= rating %>  ⭐️⭐️⭐️⭐️⭐️
    <% } %>

    <% function printRating(rating) { %>
      <%= rating %>
    <% } %>

    <ul style="list-style: none">
      <% menu.forEach(item => { %>
        <li style="margin: 15px 0; border-bottom: solid 3px black; padding-bottom: 4px;">
          <span>Name: <%= item.name %> </span><br />
          <span>Price: <%= item.price %></span><br />
          <span>
            Rating: <% item.rating === 5 ? printStars(item.rating) : printRating(item.rating) %>
          </span><br />
          <span>Details: <%= item.details %> </span>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <!-- menues -->
  <div id="category-menu">
    <h2 style="text-transform: capitalize"><%= category %> Menu</h2>
  </div>
</body>
</html>
